@import './normalize.css';

body {
    font-family: 'Domine', serif;
    line-height: 25px;
}

.backgraund {
    background-color: rgba(21, 207, 231, 0.548);
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // height: 100vh;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #cdffcdd3;
    z-index: 2;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

.display {
    max-width: 80%;
    width: 100%;
    margin: 0px auto;

    @media (max-width: 350px) {
        max-width: 95%;
    }
}

.ul-content {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 21%;

    @media (max-width: 350px) {
        gap: 0.5%;
    }
}

.li-item {
    border: 1px solid green;
    padding: 4%;
    background-color: rgba(0, 255, 128, 0.767);
    border-radius: 25px;
    box-shadow: 0px 0px 11px rgb(229, 255, 0);
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0.5;
}

.loaded .preloader {
    display: none;
}
